* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: radial-gradient(circle, #012116 10%, #000 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock {
    background: #063b29; 
    height: 320px;
    width: 320px;
    position: relative;
    box-sizing: content-box;
    border-radius: 50%;
    border: 15px solid #C0C0C0;
    box-shadow: 15px 15px 35px rgba(255, 255, 255, 0.1), inset 15px 15px 35px rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.clock img {
    z-index: 2; 
    position: absolute; 
    height: 330px;
}

.digital {
    font-family: "Arial", Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    display: none; 
}

.hand {
    position: absolute;
    background-color: #ffffff;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform-origin: bottom;
}

.hour {
    height: 60px;
    width: 10px;
    top: 100px;
    z-index: 3;
}

.minute {
    height: 80px;
    width: 5px;
    top: 80px;
    z-index: 2;
}

.seconds {
    height: 90px;
    width: 3px;
    top: 70px;
    background-color: #C0C0C0;
    z-index: 1; 
}

.toggle-button {
    position: absolute;
    right: 575px; 
    top: 49.75%; 
    transform: translateY(-50%); 
    width: 15px; 
    height: 70px; 
    background-color: #C0C0C0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.toggle-button:hover {
    background-color: #063b29;
}

.toggle-button:active {
    transform: translateY(-50%) translateX(-10px); 
}